<h1>Porfolio Items</h1>

<%= link_to "Create new Item", new_portfolio_path if logged_in?(:site_admin) %>

<p>"Path:" <%= new_portfolio_path %> </p>
<p>"URL:" <%= new_portfolio_url %> </p>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
