<h1>Porfolio Items</h1>

<a href="/portfolios/new">Create new Item</a>

<%= link_to "Create new Item", new_portfolio_path %>

<p>"Path:" <%= new_portfolio_path %> </p>
<p>"URL:" <%= new_portfolio_url %> </p>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
