 <div class="inner cover">
  <h1 class="cover-heading">Julian Jurai</h1>
  <p class="lead">This is a project used to learn about best practices regarding rails development</p>
  <p class="lead">Rails is awesome.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>