<h1>Hi, <%=current_user.first_name %> </h1>
<p>Find me in app/views/pages/home.html.erb</p>

 <p>Posts</p>
 <p><%=@posts.inspect %></p>

 <p>Skills</p>
 <p><%=@skills.inspect %></p>

 <p><%= current_user.class %></p>
